.d-flex {
    width: 70%;
    height:5%;
}

.nav {
    height:5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    align-items: center;
    padding: 5px 20px;
}

.position-relative {
    padding-top: 5px;
}

.cart {
    cursor: pointer;
}

.cart span:nth-child(1) {
    font-size: 2rem;
    color: white;
}

.cart span:nth-child(2) {
    padding: 0 3px;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    position: relative
}