.d-flex {
    width: 70%;
    height:5%;
}

.nav {
    height:5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    align-items: center;
    padding: 5px 20px;
}