img{
    height:160px;
width:190px;

}
.card button{
width:120px;
margin:5px;
}
.products{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;

}

.card:hover{
    box-shadow: 2px 2px 1px rgb(182, 179, 179);
    border-radius: 10px;
    transform: scale(1.02);
    /* display: grid;
    grid-template-columns: 200px 1fr; */
  }
/* 
.container{
    display: grid;
    grid-template-columns: 200px 2fr;
  } */

